<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<h2>Detalle del Articulo</h2>
<div>
     <p><strong>Titulo:</strong></p>
     <p><%= @article.title%></p>
     <p>Hola Modificado</p>
</div>     
